/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */
/* **************************** GLOBAL CONFIGURATION ************************** */
/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */


html {
    width: 100%;
    height: 100%;
    font-size: 16px;

    /* Colors */

    --clr-primary: #3d54e5;
    --clr-primary-light: #8fa0f2;
    --clr-secondary: #fc991e;
    --clr-tertiary: #3bcaa7;

    --clr-background: #fff;
    --clr-font: #1f1f1f;
    --clr-font-light: #9b9b9b;
    --clr-font-on-primary: #fff;
    --clr-font-on-dark: #fff;

    --clr-surface-1: #f3f2f3;
    --clr-surface-1-transparency: #f3f2f3c0;
    --clr-surface-2: #e7e7e7;
    --clr-surface-3: #1c1b1c;
    --clr-surface-primary: #f9f6fc;
    --clr-surface-primary-transparency: #f9f6fcd2;

    --clr-box-on-img-transparency-light: #f1f1f133;
    --clr-box-on-img-transparency-border: #e7e7e765;
    --clr-box-on-img-transparency: #f1f1f15d;

    /* Fonts */

    --font-primary: "Questrial", Helvetica, Arial, sans-serif;
    --font-highlight: "Magneta", Helvetica, Arial, sans-serif;

}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--clr-background);
    color: var(--clr-font);
}

* {
    box-sizing: border-box;
    font-family: var(--font-primary);
}

:focus {
    outline: 5px solid var(--clr-primary-light);
    border: 2.5px solid var(--clr-primary);
}

::selection {
    background-color: var(--clr-primary);
    color: var(--clr-font-on-primary);
}


/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */
/* *************** SEMANTIC CONTAINERS [header,nav,main,footer] *************** */
/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */

/* *** Header *** */

#header {
    width: 100%;
    height: 150px;
    position: relative;
}

@media (max-width: 685px) {
    #header {
        height: 70px;
    }
}

/* *** Navigation *** */

#navigation {
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    z-index: 98;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-surface-1);
    border-bottom: 2px solid var(--clr-surface-2);
    box-shadow: 0 0 15px var(--clr-surface-2);
}

#navigation .top-container {
    width: 100%;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2rem;
}

#navigation .top-container h1 {
    text-align: center;
    font-size: 2rem;
}

#navigation .top-container div {
    display: flex;
    flex-direction: row;
    gap: .175rem;
}

#navigation .top-container div a {
    width: 32.5px;
    height: 32.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7.5px;
    transition: .25s;
}

#navigation .top-container div a:hover {
    background-color: var(--clr-surface-2);
}

#navigation .top-container div a img {
    width: auto;
    height: 60%;
    transition: .25s;
}

#navigation .top-container div a:hover>img {
    transform: scale(1.05);
}

#navigation .bottom-container {
    width: 100%;
    height: 60px;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
}

#navigation .bottom-container ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-right: 2rem;
    list-style-type: none;
    padding-left: 0;
}

#navigation .bottom-container a {
    height: 40px;
    display: block;
    color: var(--clr-font);
    font-size: 1.1rem;
    text-decoration: none;
    transition: .25s;
}

#navigation .bottom-container a:hover {
    font-weight: 700;
}


#navigation .bottom-container a.active {
    font-weight: bold;
    border-bottom: 3.5px solid var(--clr-font);
}

#mobile-navigation {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 98;
    background-color: var(--clr-surface-1);
    display: none;
    flex-direction: column;
}

#mobile-navigation .visible-container {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: inherit;
    z-index: 98;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 3.5%;
    padding-right: 3.5%;
    border-bottom: 2px solid var(--clr-surface-2);
    box-shadow: 0 0 15px var(--clr-surface-2);
}

#mobile-navigation .visible-container a img {
    height: 37.5px;
}

#mobile-navigation .visible-container h1 {
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
    transform: translateY(.2rem);
}

#mobile-navigation .visible-container button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    border-radius: 7.5px;
    transition: .25s;
}

#mobile-navigation .visible-container button:active {
    background-color: var(--clr-surface-2);
    animation: buttonBounceFontSize 2s;
}

#mobile-navigation .hidden-container {
    width: 100%;
    height: auto;
    display: none;
    position: fixed;
    z-index: 97;
    top: 70px;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1.5rem;
    background-color: var(--clr-surface-1-transparency);
    backdrop-filter: blur(20px);
    border-bottom: 2px solid var(--clr-surface-2);
    box-shadow: 0 0 15px var(--clr-surface-2);
}

#mobile-navigation .hidden-container ul {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
}

#mobile-navigation .hidden-container a {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-font);
    text-decoration: none;
    font-size: 1.05rem;
}

#mobile-navigation .hidden-container li:hover>a,
#mobile-navigation .hidden-container a.active {
    font-weight: bold;
}

#mobile-navigation .hidden-container a.active {
    font-weight: bold;
}

#mobile-navigation .hidden-container div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#mobile-navigation .hidden-container div a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile-navigation .hidden-container div img {
    width: auto;
    height: 65%;
}

@media (max-width: 1120px) {

    #navigation .top-container h1 {
        font-size: 1.75rem;
    }

}

@media (max-width: 915px) {

    #navigation .top-container h1 {
        font-size: 1.6rem;
    }

}

@media (max-width: 835px) {

    #navigation .top-container>a img {
        height: 40px;
    }

    #navigation .top-container h1 {
        font-size: 1.5rem;
    }

    #navigation .top-container div a {
        width: 27.5px;
        height: 27.5px;
    }

    #navigation .bottom-container a {
        font-size: 1rem;
    }

}

@media (max-width: 745px) {

    #navigation .top-container>a img {
        height: 35px;
    }

    #navigation .top-container h1 {
        font-size: 1.4rem;
    }

    #navigation .top-container div a {
        width: 25.5px;
        height: 25.5px;
    }

}

@media (max-width: 685px) {

    #navigation {
        display: none;
    }

    #mobile-navigation {
        display: flex;
    }

}

@media (max-width: 420px) {

    #mobile-navigation .visible-container h1 {
        font-size: 1.15rem;
    }

}

@media (max-width: 360px) {

    #mobile-navigation .visible-container h1 {
        font-size: 1rem;
    }

}

@media (max-width: 300px) {

    #mobile-navigation .visible-container a img {
        height: 30px
    }

}

/* *** Main *** */

main {
    width: 100%;
    height: auto;
    position: relative;
}

main>section {
    width: 85%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
}

main>section>h2,
.main-subheader {
    font-size: 1.75rem;
    margin-bottom: .25rem;
}

@media (max-width: 500px) {
    main>section {
        width: 92.5%;
    }
}

/* *** Footer *** */

#footer {
    width: 100%;
    height: 285px;
    display: block;
    position: relative;
    background-color: var(--clr-surface-1);
}

#footer>a {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
    border-radius: 50%;
}

#footer>a img {
    width: auto;
    height: 50px;
}

#footer div {
    position: absolute;
    top: 1.725rem;
    left: 7.5rem;
}

#footer h1 {
    font-size: 1.35rem;
    margin-bottom: 0;
    padding-right: 2rem;
}

#footer ul {
    list-style-type: none;
    padding-left: 0;
}

#footer li a {
    display: flex;
    align-items: center;
    height: 25px;
    text-decoration: none;
    color: var(--clr-font);
    transition: .25s;
}

#footer li a:hover {
    font-weight: 700;
}

@media (max-width: 656px) {
    #footer div {
        top: 1.1rem;
    }
}

@media (max-width: 600px) {
    #footer>a {
        left: 1.25rem;
    }

    #footer a img {
        height: 40px;
    }

    #footer div {
        top: 1.75rem;
        left: 5.25rem;
    }

    #footer h1 {
        font-size: 1.15rem;
    }

    #footer li a {
        height: 21px;
    }
}

@media (max-width: 350px) {
    #footer h1 {
        padding-right: 1rem;
        font-size: 1.05rem;
    }
}


/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */
/* **************************** PRE SETS & SYSTEMS **************************** */
/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */


/* *** Texts *** */

h1,
h2,
h3 {
    font-family: var(--font-highlight);
}

p {
    line-height: 135%;
}

.headline-underline {
    width: 65px;
    height: 4px;
    display: block;
    margin-bottom: 2rem;
    background-color: var(--clr-primary);
}

.main-headline {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    padding-left: .75rem;
    padding-right: .75rem;
}

.main-headline>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.main-headline img {
    width: auto;
    height: 45px;
}

.main-headline h1 {
    font-size: 1.85rem;
    transform: translateY(.175rem);
    margin: 0;
}

.main-headline h2 {
    font-family: var(--font-primary);
    font-size: 1.15rem;
}

@media (max-width: 700px) {

    .main-headline h1 {
        font-size: 1.5rem;
    }

    .main-headline h2 {
        font-size: 1.05rem;
    }

}

@media (max-width: 500px) {

    .main-headline h1 {
        font-size: 1.35rem;
    }

    .main-headline img {
        height: 37.5px;
    }

}

/* *** Buttons *** */

button {
    cursor: pointer;
}

button.secondary-btn {
    width: auto;
    height: 35px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .25rem;
    background-color: transparent;
    border: 2.5px solid var(--clr-surface-1);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--clr-surface-1-transparency);
    transition: .25s;
}

button.secondary-btn:hover {
    transform: scale(1.05);
    border: 3px solid var(--clr-primary-light);
    box-shadow: 0 0 20px var(--clr-primary-light);
    background-color: var(--clr-primary);
}

button.secondary-btn:hover * {
    color: var(--clr-font-on-primary);
}

button.secondary-btn * {
    transition: .25s;
}

button.secondary-btn .material-icon {
    font-size: 1rem;
}

@keyframes buttonBounceFontSize {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.85);
    }

    100% {
        transform: scale(1);
    }

}

.is-bouncing {
    animation: buttonBounceFontSize .25s;
}

/* *** Animations *** */

@keyframes slideIn {

    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }

}

@keyframes slideOut {

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }

}

@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes fadeOut {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

/* *** Images *** */

.main-image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.main-image.left {
    justify-content: flex-start;
    align-items: flex-start;
}

.main-image img {
    border-radius: 20px;
    border: 2px solid var(--clr-primary);
    outline: 3px solid var(--clr-primary-light);
    box-shadow: 0 2px 8px var(--clr-surface-1-transparency);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    filter: brightness(1.05) contrast(1.02);
}

.main-image img:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 22px var(--clr-primary-light), 0 4px 18px var(--clr-surface-1-transparency), 0 0 10px var(--clr-primary);
    filter: brightness(1.15) contrast(1.1);
    border: 2px solid var(--clr-primary);
    transform: rotate(.5deg);
}

.main-image img:active {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 4px 8px var(--clr-primary-light), 0 2px 4px var(--clr-surface-1-transparency);
    filter: brightness(1.1) contrast(1.05);
}

.main-image span {
    display: block;
    margin-top: .25rem;
    margin-right: .25rem;
    margin-left: .35rem;
    color: var(--clr-font-light);
}

.logo-style {
    width: auto;
    height: 45px;
    border-radius: 50%;
    outline: 1px solid var(--clr-primary);
    box-shadow: 0 0 5px var(--clr-primary-light);
    transition: .25s;
}

.logo-style:hover {
    transform: scale(1.05);
    outline: 1.5px solid var(--clr-primary);
    box-shadow: 0 0 7.5px var(--clr-primary);
}

/* *** ps-System (primary secondary) *** */

.ps-system>div {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.ps-system aside {
    width: 47.5%;
    height: auto;
}

.ps-system .primary h1 {
    font-size: 1.6rem;
}

.ps-system .secondary {
    display: flex;
}

.ps-system .secondary img {
    width: 85%;
    height: auto;
}

@media (max-width: 1130px) {

    .ps-system .secondary img {
        width: 95%;
    }

}

@media (max-width: 1024px) {

    .ps-system {
        padding-top: 0;
    }

    .ps-system div {
        flex-direction: column;
    }

    .ps-system aside {
        width: 100%;
    }

    .ps-system .secondary {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ps-system .secondary .main-image {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ps-system .secondary .main-image span {
        margin-top: .75rem;
    }

    .ps-system .secondary img {
        width: 75%;
        margin-top: 2.5rem;
    }

}

@media (max-width: 700px) {

    .ps-system .secondary img {
        width: 85%;
    }

}

@media (max-width: 620px) {

    .ps-system .secondary img {
        width: 100%;
    }

}

@media (max-width: 500px) {

    .ps-system .primary h1 {
        font-size: 1.35rem;
    }

}

@media (max-width: 400px) {

    .ps-system .primary h1 {
        font-size: 1.2rem;
    }

}

/* *** Join *** */

#join {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--clr-surface-primary);
    border-top: 2.5px solid var(--clr-surface-1);
}

#join .vote {
    width: 45px;
    height: 45px;
    transform: translateY(-45px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
    color: var(--clr-font-on-primary);
    font-size: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--clr-primary);
}

#join h1 {
    font-size: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    text-align: center;
}

#join h1 strong {
    font-family: var(--font-highlight);
    color: var(--clr-primary);
}

#join .subtitle {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
    margin-left: auto;
    margin-right: auto;
}

#join .subtitle>img {
    height: 30px;
}

#join .subtitle>h3 {
    font-size: 1.1rem;
}

#join p {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#join .docs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .75rem;
}

#join a {
    width: 175px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-surface-1-transparency);
    border: 2px solid var(--clr-surface-2);
    box-shadow: 0 0 5px var(--clr-surface-2);
    border-radius: 25px;
    text-decoration: none;
    color: var(--clr-font);
    margin-top: .75rem;
    transition: .25s;
}

#join a:hover {
    transform: scale(1.025);
    background-color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    box-shadow: 0 0 50px var(--clr-primary-light);
    outline: 5px solid var(--clr-primary-light);
    box-sizing: 0 0 15px var(--clr-primary);
    color: var(--clr-font-on-primary);
}

#join a:hover>.material-icon {
    color: var(--clr-font-on-primary);
}

#join a>.material-icon {
    font-size: 2rem;
    transition: .25s;
}

#join a h2 {
    font-size: 1rem;
    text-align: center;
    margin-top: .75rem;
}

@media (max-width: 555px) {

    #join h1 {
        font-size: 1.75rem;
    }

    #join a h2 {
        font-size: 1.05rem;
    }

    #join .subtitle img {
        height: 27.5px;
    }

    #join p {
        width: 90%;
        margin-top: .25rem;
    }

}

@media (max-width: 500px) {

    #join h1 {
        font-size: 1.5rem;
    }

}

@media (max-width: 430px) {

    #join .docs {
        flex-direction: column;
    }

    #join .docs a {
        width: 75%;
        height: 135px;
    }

    #join h1 {
        font-size: 1.35rem;
        margin-bottom: .75rem;
    }

    #join .subtitle h3 {
        font-size: 1rem;
    }

}


/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */
/* ********************************* INDEX.HTML ******************************* */
/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */


/* *** Slideshow *** */

#slideshow {
    width: 100%;
    height: calc(100vh - 150px);
    position: relative;
    display: block;
    padding-top: 0;
}

#slideshow .slides {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slideshow .slides>div {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 0;
}

#slideshow .slides>div:first-of-type {
    opacity: 1;
    z-index: 1;
}

#slideshow .slides .image-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#slideshow .slides .image-container img {
    width: auto;
    height: auto;
    min-height: 100%;
    z-index: 1;
}

#slideshow .slides .image-container img:last-of-type {
    display: none;
}

#slideshow .slides .filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.603) 100%);
    z-index: 3;
}

#slideshow .slides .info {
    position: absolute;
    bottom: 3rem;
    left: 2.5rem;
    color: var(--clr-font-on-dark);
    z-index: 4;
}

#slideshow .slides .info h1 {
    font-size: 2.25rem;
    margin-bottom: .75rem;
}

#slideshow .slides .info p {
    max-width: 66.6%;
}

#slideshow .controls {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    z-index: 5;
}

#slideshow .controls button {
    width: 20px;
    height: 20px;
    border: 2px solid var(--clr-box-on-img-transparency-border);
    border-radius: 50%;
    background-color: var(--clr-box-on-img-transparency-light);
    backdrop-filter: blur(20px);
    transition: .25;
}

#slideshow .controls button.active {
    background-color: var(--clr-box-on-img-transparency);
}

@media (max-width: 1155px) {

    #slideshow .slides .info p {
        max-width: 75%;
    }

}

@media (max-width: 1050px) {

    #slideshow .slides .info p {
        max-width: calc(100% - 2.5rem);
    }

}

@media (max-width: 1024px) {

    #slideshow .slides .image-container img {
        transform: scale(0.75);
    }

}

@media (max-width: 900px) {

    #slideshow {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
    }

    #slideshow .slides {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #slideshow .slides>div {
        width: 100%;
        height: auto;
        position: absolute;
    }

    #slideshow .slides>div .image-container {
        width: 100%;
        height: auto;
    }

    #slideshow .slides>div .image-container img {
        width: 100%;
        height: auto;
        display: none;
        position: relative;
        transform: scale(1);
    }

    #slideshow .slides>div .image-container img:last-of-type {
        display: block;
    }

    #slideshow .slides>div:first-of-type {
        position: relative;
    }

}

@media (max-width: 730px) {

    #slideshow .slides .info h1 {
        font-size: 1.75rem;
    }

}

@media (max-width: 600px) {

    #slideshow .slides .info {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #slideshow .slides .info h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: .3rem;
    }


    #slideshow .slides .info p {
        font-size: .9rem;
        text-align: center;
    }

    #slideshow .slides .filter {
        display: none;
    }

    #slideshow .slides .image-container img {
        filter: brightness(60%);
    }

}

@media (max-width: 500px) {

    #slideshow .slides .info {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #slideshow .slides .info p {
        font-size: .8rem;
        line-height: 110%;
    }

    #slideshow .slides .info h1 {
        font-size: 1.35rem;
    }

    #slideshow .controls>button {
        width: 17.5px;
        height: 17.5px;
    }

    #slideshow .controls {
        gap: .35rem;
    }

}

@media (max-width: 400px) {

    #slideshow .slides .info h1 {
        margin-bottom: 0;
        font-size: 1.15rem;
    }

    #slideshow .slides .info p {
        font-size: .75rem;
    }

    #slideshow .controls button {
        width: 15px;
        height: 15px;
    }

}

@media (max-width: 360px) {

    #slideshow .controls {
        bottom: .6rem;
    }

}


/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */
/* ****************************** ÜBER-UNS.HTML ******************************* */
/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */


/* *** Executive *** */

#executive .persons {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

#executive .persons>div {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-surface-primary);
    border: 2.5px solid var(--clr-surface-1);
    border-radius: 20px;
    transition: .25s;
}

#executive .persons>div:hover img {
    outline: 1.5px solid var(--clr-primary);
    box-shadow: 0 0 15px var(--clr-primary);
    transform: scale(1.05);
}

#executive .persons>div:hover {
    transform: scale(1.05);
    border: 2.5px solid var(--clr-surface-2);
    box-shadow: 0 0 10px var(--clr-surface-1);
}

#executive .persons img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--clr-primary);
    box-shadow: 0 0 7.5px var(--clr-primary);
    transition: .25s;
}

#executive .persons h3 {
    font-size: 1.4rem;
    margin-bottom: 0;
}

#executive .persons ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: .5rem;
}

#executive .persons li {
    color: var(--clr-font-light);
    text-align: center;
    line-height: 120%;
}

#executive .persons a {
    width: 85px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .35rem;
    border-radius: 7.5px;
    background-color: var(--clr-primary);
    color: var(--clr-font-on-primary);
    text-decoration: none;
    font-size: .9rem;
    transition: .25s;
}

#executive .persons a:hover {
    transform: scale(1.05);
    outline: 2.5px solid var(--clr-primary-light);
    box-shadow: 0 0 10px var(--clr-primary);
}

#executive .persons a span {
    color: var(--clr-font-on-primary);
    font-size: .9rem;
}

@media (max-width: 740px) {

    #executive .persons>div {
        width: 47.5%;
        height: 285px;
    }

    #executive .persons h3 {
        font-size: 1.05rem;
        margin-top: .85rem;
    }

    #executive .persons ul {
        margin-top: .25rem;
    }

    #executive .persons img {
        width: 110px;
    }
}

@media (max-width: 545px) {

    #executive .persons>div {
        width: 100%;
        height: 275px;
    }

}